html,
body {
  background-color: #3f3f3f;
  color: white;
  margin: 0;
  font-size: 2vmin;
  font-family: sans-serif;
  padding: 1vmin;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#resultsList {
  list-style: none;
}
